<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<!-- 基础公共文件头部引入(ace、bootstrap等) -->
<div th:fragment="common_header" th:remove="tag">
    <title>webcom通用模板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="keywords" content="webcom通用模板" />
    <meta name="description" content="webcom通用模板" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <!--<link href="${ctx }/resources/images/title-logo.png" rel="icon"/>
    <link href="${ctx }/resources/images/title-logo.png" type="image/x-icon" rel="bookmark"/>
    <link href="${ctx }/resources/images/title-logo.png" type="image/x-icon" rel="shortcut icon"/>-->

    <link rel="stylesheet" th:href="@{/static/ace/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/ace/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/static/ace/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" th:href="@{/static/ace/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/static/ace/css/ace-rtl.min.css}" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/static/ace/css/ace-part2.min.css}" class="ace-main-stylesheet" />
    <link rel="stylesheet" th:href="@{/static/ace/css/ace-ie.min.css}" />
    <![endif]-->

    <!--[if lte IE 8]>
    <script th:src="@{/static/ace/js/html5shiv.min.js}"></script>
    <script th:src="@{/static/ace/js/respond.min.js}"></script>
    <![endif]-->

    <script th:src="@{/static/ace/js/ace-extra.min.js}"></script>

    <style type="text/css">
        body{
            background-color:Transparent;
        }
    </style>
</div>

<!-- 基础公共文件尾部引入(ace、bootstrap、jquery、layer弹框等) -->
<div th:fragment="common_footer" th:remove="tag">
    <!--[if !IE]> -->
    <script th:src="@{/static/ace/js/jquery-2.1.4.min.js}"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script th:src="@{/static/ace/js/jquery-1.11.3.min.js}"></script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchstart" in document.documentElement) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script th:src="@{/static/ace/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/ace/js/ace-elements.min.js}"></script>
    <script th:src="@{/static/ace/js/ace.min.js}"></script>
    <script th:src="@{/static/layer/layer.js}"></script>
    <script th:src="@{/static/common/js/index.js}"></script>
</div>

<!-- datatables表格头部引入 -->
<div th:fragment="common_datatable_head" th:remove="tag">
    <link rel="stylesheet" th:src="@{/static/datatables/css/datatables.min.css}" />
    <link rel="stylesheet" th:src="@{/static/datatables/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" th:src="@{/static/datatables/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:src="@{/static/datatables/css/dataTables.foundation.min.css}" />
    <link rel="stylesheet" th:src="@{/static/datatables/css/dataTables.semanticui.min.css}" />
</div>

<!-- datatables表格尾部引入 -->
<div th:fragment="common_datatable_footer" th:remove="tag">
    <script th:src="@{/static/datatables/js/datatables.min.js}"></script>
    <script th:src="@{/static/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/datatables/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/static/datatables/js/dataTables.foundation.min.js}"></script>
    <script th:src="@{/static/datatables/js/dataTables.semanticui.min.js}"></script>
    <script th:src="@{/static/datatables/js/dataTables.select.min.js}"></script>
    <script th:src="@{/static/index/datatables/datatables-common.js}"></script>
</div>

<!-- plugins css -->
<div th:fragment="common_plugins_head" th:remove="tag">
    <link rel="stylesheet" th:href="@{/static/ace/css/bootstrap-datepicker3.min.css}" />
    <link rel="stylesheet" th:href="@{/static/select2/css/select2.css}" />
</div>


<!-- 其他或自定义插件 css -->
<div th:fragment="common_plugins_head" th:remove="tag">
    <!-- bootstrap时间插件 css -->
    <link rel="stylesheet" th:href="@{/static/ace/css/bootstrap-datepicker3.min.css}" />
    <!-- select2选择框插件 css -->
    <link rel="stylesheet" th:href="@{/static/select2/css/select2.css}" />
</div>

<!-- 其他或自定义插件 js -->
<div th:fragment="common_plugins_footer" th:remove="tag">
    <!-- bootstrap时间插件 js -->
    <script th:src="@{/static/ace/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/static/ace/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <!-- select2选择框插件 js -->
    <script th:src="@{/static/select2/js/select2.full.js}"></script>
    <script th:src="@{/static/select2/js/i18n/zh-CN.js}"></script>
</div>

<!-- 页脚版权信息 -->
<div th:fragment="common_footer_copyright" th:remove="tag">
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">&copy; 东莞重力科技有限公司.版权所有</span>
            </div>
        </div>
    </div>
</div>
</html>