<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zhongli.tech.luwu.admin.module.demo.mapper.DemoMapper">

    <!-- 使用 Redis 二级缓存 -->
    <cache type="net.zhongli.tech.luwu.admin.common.cache.MybatisRedisCache" />

    <resultMap type="net.zhongli.tech.luwu.admin.module.demo.entity.DemoEntity" id="demoMap">
        <id property="id" column="id" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <result property="createBy" column="create_by" />
        <result property="demoName" column="demo_name" />
        <collection property="tests" ofType="net.zhongli.tech.luwu.admin.module.demo.entity.TestEntity" >
            <result property="id" column="tId"/>
            <result property="testName" column="test_name"/>
        </collection>
    </resultMap>

    <insert id="save" parameterType="net.zhongli.tech.luwu.admin.module.demo.entity.DemoEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT ignore INTO tb_demo(
            demo_name
        ) VALUES
        (
            #{demoName}
        )
    </insert>

    <select id="findBy" parameterType="map" resultMap="demoMap">
        SELECT
            d.id,
            d.create_date,
            d.update_date,
            d.create_by,
            d.demo_name,
            t.id 'tId',
            t.test_name
        FROM tb_demo d
        LEFT JOIN tb_demo_test dt ON dt.demo_id = d.id
        LEFT JOIN tb_test t ON t.id = dt.test_id
    </select>

    <select id="queryList" parameterType="map" resultMap="demoMap">
        SELECT
            d.id,
            d.create_date,
            d.update_date,
            d.create_by,
            d.demo_name,
            t.id 'tId',
            t.test_name
        FROM tb_demo d
        LEFT JOIN tb_demo_test dt ON dt.demo_id = d.id
        LEFT JOIN tb_test t ON t.id = dt.test_id
    </select>

    <select id="count" parameterType="map" resultType="int">
        SELECT
            count(DISTINCT d.id)
        FROM tb_demo d
        LEFT JOIN tb_demo_test dt ON dt.demo_id = d.id
        LEFT JOIN tb_test t ON t.id = dt.test_id
    </select>

</mapper>
