<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>您已被提出提示</title>
    <div th:replace="common/index :: common_header"></div>
</head>
<body>

<div id="page-content" class="page-content"></div>

<div th:replace="common/index :: common_footer"></div>
<script type="text/javascript" th:inline="javascript">

    $(function () {

        layer.alert([[${msg}]], {icon : 5,shift : 6, time : 0}, function () {
            window.location.href = "/login";
        });

    });

</script>
<div th:replace="common/index :: common_footer_copyright"></div>
</body>
</html>